 <div class="video-box margin-top-40 margin-bottom-40">
                                  <div class="video-tutorial">
                                   <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs" title="Video Tutorial">
                                   <img src="images/blog/4.jpg" alt="">
                                   </a>                           
                                  </div>
                                 <p>Integrate video on magnific popup for fast page load.</p>
                                </div>